<div id="main">
  <app-top-navbar-logged></app-top-navbar-logged>

  <div id="body">
    <h1 style="font-weight: bolder;">Meus pedidos</h1>
    <div id="total">
      <button id="look_button" (click)="openViewModal(CheckoutShoppingCart)" mat-raised-button>Ver QR code de pagamento</button>
    </div>
    <div id="list-items" *ngIf="(orders$ | async) as orders; else loadingOrError">
      <div id="empty-sc" *ngIf="(shoppingCart$ | async)?.shoppingCartItemList.length == 0">
        <h3>Você ainda não tem pedidos.</h3>
      </div>
      <div *ngFor="let order of orders">
        <a class="list-group-item list-group-item-action flex-column align-items-start">
          <div id="top-icons-sc">
            <h5 style="font-size: larger; font-weight: bolder;" class="mb-1">Pedido {{order.id}}</h5>
            <h5 style="font-size: larger; font-weight: bolder;" class="mb-1">{{mapOrderStatus.get(order.orderStatus)}}</h5>
          </div>
          <h4>Total: R$ {{order.total}}</h4>
          <h4>Criado em {{order.createdDate.substring(0, 10)}}</h4>
          <hr>
          <h4 id="sub_info_title">Informações de Pagamento</h4>
          <div id="payments_info">
            <p>Estado do pagamento: {{mapPaymentStatus.get(order.invoice.paymentStatus)}}</p>
            <p>Forma de pagamento: {{mapPaymentMethods.get(order.invoice.paymentMethod)}}</p>
          </div>
          <hr>
          <div id="sub_info">
            <div>
              <h4 id="sub_info_title">Itens</h4>
              <div *ngFor="let items of order.orderItems">
                <ul>
                  <li>Nome: {{items.name}}</li>
                  <p>Qnt: {{items.amount}}</p>
                </ul>
              </div>
            </div>
            <div>
              <h4 id="sub_info_title">Endereço de Entrega</h4>
              <p *ngIf="order.deliveryAddress.notes">Notas de entrega: {{order.deliveryAddress?.notes}}</p>
              <p>Local: {{order.deliveryAddress.address?.place}}</p>
              <p>Cidade: {{order.deliveryAddress.address?.city}}</p>
              <p>CEP: {{order.deliveryAddress.address?.zip}}</p>
            </div>
          </div>
          <div *ngIf="order.orderStatus == 'WAITING_PAYMENT'" class="track">
            <div class="step active"> <span class="icon"> <i class="fa-solid fa-money-bill-1-wave"></i> </span> <span class="text">AGUARDANDO PAGAMENTO</span> </div>
            <div class="step"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">PAGAMENTO CONFIRMADO</span> </div>
            <div class="step"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> EM TRANSITO </span> </div>
            <div class="step"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">ENTREGUE</span> </div>
          </div>
          <div *ngIf="order.orderStatus == 'PAYMENT_CONFIRMED'" class="track">
            <div class="step active"> <span class="icon"> <i class="fa-solid fa-money-bill-1-wave"></i> </span> <span class="text">AGUARDANDO PAGAMENTO</span> </div>
            <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">PAGAMENTO CONFIRMADO</span> </div>
            <div class="step"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> EM TRANSITO </span> </div>
            <div class="step"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">ENTREGUE</span> </div>
          </div>
          <div *ngIf="order.orderStatus == 'IN_TRANSIT'" class="track">
            <div class="step active"> <span class="icon"> <i class="fa-solid fa-money-bill-1-wave"></i> </span> <span class="text">AGUARDANDO PAGAMENTO</span> </div>
            <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">PAGAMENTO CONFIRMADO</span> </div>
            <div class="step active"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> EM TRANSITO </span> </div>
            <div class="step"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">ENTREGUE</span> </div>
          </div>
          <div *ngIf="order.orderStatus == 'DELIVERED'" class="track">
            <div class="step active"> <span class="icon"> <i class="fa-solid fa-money-bill-1-wave"></i> </span> <span class="text">AGUARDANDO PAGAMENTO</span> </div>
            <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">PAGAMENTO CONFIRMADO</span> </div>
            <div class="step active"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> EM TRANSITO </span> </div>
            <div class="step active"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">ENTREGUE</span> </div>
          </div>
          <div *ngIf="order.orderStatus == 'CANCELLED'" class="track">
            <div class="step active"> <span class="icon"> <i class="fa-solid fa-money-bill-1-wave"></i> </span> <span class="text">AGUARDANDO PAGAMENTO</span> </div>
            <div class="step active"> <span class="icon"> <i class="fa-solid fa-xmark"></i> </span> <span class="text">CANCELADO</span> </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<ng-template #CheckoutShoppingCart let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Informação para pagamento</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form style="margin-left: 2%; margin-right: 2%">
    <h2>Efetue o pagamento através do QR Code abaixo. No pagamento da mensagem, deve-se informar o e-mail da conta cadastrada.</h2>
    <img src="../../../assets//pix_proj.png" id="img_pix">
  </form>
</ng-template>

<ng-template #loadingOrError>
  <app-error *ngIf="error$ | async; else loading"></app-error>

  <ng-template #loading>
    <div class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
  </ng-template>
</ng-template>