#main {
  position: absolute;
  display: inline;
  width: 100%;
  height: 100%;
}

#info {
  position: absolute;
  display: flex;
  background-color: black;
  width: 100%;
  height: 90%;
}

#login {
  margin-top: 10%;
  width: 40%;
}

#login h1 {
  margin-left: 15%;
  color: white;
}

#login input {
  width: 80%;
  margin-left: 20%;
  margin-right: 15%;
  margin-top: 5%;
}

#buttons {
  margin-top: 5%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-left: 5%;
}

#btn {
  background-color: white;
  color: black;
  border-bottom: 10%;
  border-radius: 12px;
  padding: 2%;
}

#btn:hover {
  background-color: rgb(211, 214, 205);
}

#separator {
  margin: 2%;
  width: 5%;
  border-left: thick dotted #f1efef;
}

#offers {
  width: 55%;
  height: 80%;
  justify-content: center;
  margin-right: 10%;
}

#offers h1 {
  color: white;
  margin-top: 1%;
  justify-content: center;
}

#carousel {
  width: 100%;
  height: 30%;
  max-height: 50%;
}

#item {
  width: 100%;
  justify-content: center;
  height: 50%;
}

#item img {
  width: 30%;
  height: auto;
  max-height: 100%;
  margin-left: 30%;
  margin-right: 30%;
  object-fit: contain;
}

#item h1 {
  margin-top: 1% !important;
}

#info_item {
  color: white;
}

.spinner-border {
  align-items: center;
  left: 75%;
  top: 50%;
  color: white;
  position: absolute;
}