<div id="main">
  <app-top-navbar></app-top-navbar>
  <div id="info">
    <div id="login">
      <h1>Conectar-se</h1>
      <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email *">
        <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Senha *">
        <div id="buttons">
          <button id="btn" type="submit">Entrar</button>
          <button id="btn" routerLink="/create-user">Criar Conta</button>
        </div>
      </div>
    </div>
  
    <div id="separator">
  
    </div>
  
    <div id="offers">
      <h1>Comprar nunca foi tão fácil!!</h1>
      <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
        <ng-template ngbSlide *ngFor="let image of images">
          <div class="picsum-img-wrapper">
            <img [src]="image" alt="Random slide">
          </div>
          <div class="carousel-caption">
            <h3>No mouse navigation</h3>
            <p>This carousel hides navigation arrows and indicators.</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>
