#list-items a {
  margin-top: 2%;
  width: 100%;
  cursor: pointer;
}

#body {
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  height: auto;
}

.textarea {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  line-height: 20px;
}

.mat-icon:hover {
  cursor: pointer;
}

#look_button:hover {
  background-color: rgb(241, 238, 232);
}

#top_buttons {
  display: flex;
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky;
  top: 10%;
  z-index: 10;
}

#top_buttons .input-group {
  width: 15%;
}

#stock-field {
  color: green;
  font-weight: bolder;
}

#checkbox-stock {
  margin-top: auto;
}

#empty_items {
  font-weight: bolder;
  align-items: center;
  margin-top: 5%;
  margin-left: 30%;
}