<div id="main">
  <app-top-navbar-logged></app-top-navbar-logged>

  <div id="body">
    <div id="total">
      <div id="total-field">
        <mat-icon>shopping_cart</mat-icon>
        <h1>Total ({{ (shoppingCart$ | async)?.shoppingCartItemList.length}} item) R$:</h1>
        <h2>{{ (shoppingCart$ | async)?.total }}</h2>
      </div>

    </div>
    <div id="list-items" *ngIf="(shoppingCart$ | async) as shoppingCart; else loadingOrError">
      <div *ngFor="let item of shoppingCart.shoppingCartItemList">
        <a class="list-group-item list-group-item-action flex-column align-items-start">
          <div id="top-icons-sc">
            <h5 style="font-size: larger; font-weight: bolder;" class="mb-1">{{item.name}}</h5>
            <div>
              <mat-icon title="Visualizar item" (click)="openViewItemModal(ViewItem, item)">visibility</mat-icon>
              <mat-icon (click)="openEditShoppingCartItemAmount(EditShoppingCartItem, item)">edit</mat-icon>
              <mat-icon title="Remover do shopping cart" (click)="openDeleteShoppingCarttemModal(DeleteShoppingCartItem, item)">remove_shopping_cart</mat-icon>
            </div>
          </div>
          <h4>Amount: {{item.amount}}</h4>
        </a>
      </div>
    </div>
  </div>
</div>

<ng-template #ViewItem let-modal>
  <div *ngIf="(item$ | async) as item; else loadingOrError" class="modal-header">
    <h1 class="modal-title" id="modal-basic-title">{{item?.name}}</h1>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf="(item$ | async) as item; else loadingOrError" class="modal-body">
    <form>
      <img style="margin-top: 0.5%;" [src]="item?.imageUrl" alt="Random slide">
      <div class="form-group">
        <label for="email">Descrição</label>
        <div class="input-group">
          <textarea class="form-control" style="border: 1px solid rgb(184, 183, 183);" readonly [placeholder]="item?.description" rows="5"></textarea>
        </div>
        <label for="cpf">Especificação</label>
        <div class="input-group">
          <textarea class="form-control" style="border: 1px solid rgb(184, 183, 183);" readonly [placeholder]="item?.specification" rows="5"></textarea>
        </div>
        <label for="number">Preço</label>
        <div class="input-group">
          <input class="form-control" type="number" [placeholder]="item?.price" readonly>
        </div>
        <label for="number">Quantidade em estoque</label>
        <div class="input-group">
          <input class="form-control" type="number" [placeholder]="item?.stockQuantity" readonly>
        </div>
      </div>      
    </form>
  </div>
</ng-template>

<ng-template #DeleteShoppingCartItem let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmar ação</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (ngSubmit)="modal.close()">
    <div class="modal-body">
      <p>{{'Tem certeza que deseja remover ' + currentItemToDelete.name + ' do carrinho?'}}</p>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-danger">Remover</button>
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Fechar</button>
    </div>
  </form>
</ng-template>

<ng-template #EditShoppingCartItem let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmar ação</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="form" (ngSubmit)="modal.close()">
    <label for="cpf">Quantidade</label>
    <div class="input-group">
      <input class="form-control" type="number" [placeholder]="currentItemToEdit?.amount" formControlName="amount">
    </div>
    <div class="modal-footer">
      <button type="submit" (click)="updateItemAmont(form.value)" class="btn btn-danger">Atualizar</button>
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Fechar</button>
    </div>
  </form>
</ng-template>

<ng-template #loadingOrError>
  <app-error *ngIf="error$ | async; else loading"></app-error>

  <ng-template #loading>
    <div class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
  </ng-template>
</ng-template>