#list-items a {
  margin-top: 2%;
  width: 100%;
  cursor: pointer;
}

#body {
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}

.textarea {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  line-height: 20px;
}

.mat-icon:hover {
  cursor: pointer;
}

#look_button {
  padding-right: 1%;
  width: 20%;
}

#look_button:hover {
  background-color: rgb(241, 238, 232);
}

#total {
  display: flex;
}

#top_buttons .input-group {
  width: 15%;
}

#total-field {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#total-field h1 {
  font-weight: bolder;
  margin-left: 2%;
}

#total-field h2 {
  margin-left: 2%;
}

#stock-field {
  color: green;
  font-weight: bolder;
}

#checkbox-stock {
  margin-top: auto;
}

#top-icons-sc {
  display: flex;
  justify-content: space-between;
}

#info-checkout {
  display: flex;
  margin-left: 1%;
}

#empty-sc {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  margin-top: 5%;
}

#empty-sc h3 {
  font-weight: bolder;
}

#img_pix {
  width: 50%;
}